.card {
  background-color: #283e53;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
h6 {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.toggle-btn {
  position: absolute;
  right: 0;
}
button {
  background-color: #314a60;
  color: white;
  border-radius: 0px;
  align-items: center;
  margin: 0;
}

button:hover {
  text-decoration: none;
  color: white;
  border: none;
  background-color: #131e2765;
}

a {
  background-color: #283e53;
  color: white;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
}

a.disabled {
  background-color: #314a60;
}

a.active {
  background-color: #7252ed;
}
a:hover,
.active {
  text-decoration: none;
  color: white;
  border: none;
}

.list-group-item-action {
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid #283e53;
}
/* a i, */
.list-group-item.disabled {
  background-color: #7252ed;
  color: white;
  border-bottom: 1px solid #283e53;
}
