<div class="card">
    <div class="card-body">
        <div class="row ml-1  list-inline">
            <h5 class="card-title">JOUR 2</h5>
            <div class="toggle-btn mr-3">
                <button type="button" class="btn btn-elegant btn-sm"><i class="fa fa-angle-left"></i></button>
                <button type="button" class="btn btn-elegant btn-sm"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>

        <div class="row-fluid mt-2">
            <h6>Nous n'avons pas encore de données</h6>
            <div class="col-md-6">
                <div class="list-group">

                    <div class="list-group list-group-horizontal-md">
                        <a class="list-group-item disabled"> <i class="fa fa-th-list"></i></a>
                        <a class=" list-group-item-action disabled">65 QCM</a>
                    </div>
                    <div class="list-group list-group-horizontal-md">
                        <a class="list-group-item disabled"> <i class="fa fa-stop"></i></a>
                        <a class=" list-group-item-action disabled">01:05:00</a>
                    </div>
                    <div class="list-group list-group-horizontal-md">
                        <a class="list-group-item disabled"> <i class="fa fa-chevron-circle-right"></i></a>
                        <a class=" list-group-item-action disabled">COMMENCER</a>
                    </div>

                </div>
            </div>
        </div>




    </div>
</div>