<div class="list-group">
    <a href="" class="list-group-item list-group-item-action disabled">
        {{nameTab | uppercase}}
    </a>
    <div class="list-group" *ngFor="let item of tab;let i = index;">
        <a [ngClass]="(active === i)? 'list-group-item list-group-item-action flex-column active' : 'list-group-item list-group-item-action flex-column' "
            (click)="sendEvent($event,i)">
            <div class="d-flex w-100 justify-content-between ">
                <span *ngIf="showDate  && !serie" class="badge badge-pill">05</span>
                <div class="d-inline-block content">
                    <h6 class="mb-1">{{item.title}}</h6>
                    <span *ngIf="!showDate" class="sous-title">{{item.nbEp}} {{item.type}}</span>
                    <span *ngIf="showDate || fac" class="sous-title">{{item.code}}</span>
                </div>
                <span *ngIf="!fac" class="badge badge-pill">></span>
                <div *ngIf="fac">
                    <fa-icon [ngClass]="(active == i ) ? 'activeRadio' : ''" [icon]="faCheckCircle"></fa-icon>
                </div>
            </div>
        </a>
    </div>

</div>