<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <div class="list-inline">
                <a class="list-inline-item"><i class="fa fa-star"></i></a>
                <div class="list-inline-item">
                    <p class="card-title">Score</p>
                    <h6 class="card-text">12.45/20</h6>
                </div>
            </div>

        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="list-inline">
                <a class="list-inline-item"><i class="fa fa-trophy"></i></a>
                <div class="list-inline-item">
                    <p class="card-title">Temps</p>
                    <h6 class="card-text">00:42Sec</h6>
                </div>

            </div>

        </div>
    </div>
</div>
<div>
    <div class="card mt-2">
        <div class="card-table">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td class="tab-1">20</td>
                                <td>F.M Monastir</td>
                                <td>08.25/20</td>
                                <td>
                                    <div class="btn-group btn-group-sm mr-1" role="group">
                                        <button type="button" class="btn">J1</button>
                                        <button type="button" class="btn"><i class="fa fa-check"></i></button>
                                        <button type="button" class="btn ">J2</button>
                                        <button type="button" class="btn "><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                                <td> <button type="button" class="btn btn-elegant"><i class="fa fa-eye"
                                            aria-hidden="true"></i></button>
                                </td>

                            </tr>
                            <tr>
                                <td class="tab-1">20</td>
                                <td>F.M Sfax</td>
                                <td>09.42/20</td>
                                <td>
                                    <div class="btn-group btn-group-sm mr-1" role="group">
                                        <button type="button" class="btn">J1</button>
                                        <button type="button" class="btn"><i class="fa fa-check"></i></button>
                                        <button type="button" class="btn ">J2</button>
                                        <button type="button" class="btn "><i class="fa fa-check"></i></button>
                                    </div>
                                </td>
                                <td> <button type="button" class="btn btn-elegant"><i class="fa fa-eye"
                                            aria-hidden="true"></i></button>
                                </td>

                            </tr>
                            <tr>
                                <td class="tab-1">20</td>
                                <td>F.M Sousse</td>
                                <td>11.34/20</td>
                                <td>
                                    <div class="btn-group btn-group-sm mr-1" role="group">
                                        <button type="button" class="btn">J1</button>
                                        <button type="button" class="btn"><i class="fa fa-times"></i></button>
                                        <button type="button" class="btn ">J2</button>
                                        <button type="button" class="btn "><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                                <td> <button type="button" class="btn btn-elegant"><i class="fa fa-eye"
                                            aria-hidden="true"></i></button>
                                </td>

                            </tr>
                        </tbody>
                    </table>



                </div>

            </div>
        </div>

    </div>
</div>