<!-- <div class="list-group">
    <a [ngClass]="'list-group-item list-group-item-action flex-column' ">
        <div class="d-flex w-100 h-100 justify-content-between ">
            <h6 class="mb-1">180 Questions</h6>
            <div class="badge ml-3 list-group-item list-group-item-action flex-column">
                <fa-icon [icon]="faCheckCircle"></fa-icon>
            </div>
        </div>
    </a>

</div> -->
<!-- <div class="list-group">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">
            <fa-icon [icon]="faCheckCircle"></fa-icon>
        </li>
    </ul>
</div> -->

<div class="list-group">
    <div class="list-group list-group-horizontal">
        <a class="list-group-item list-group-item-action disabled">1580 Questions</a>
        <a class="list-group-item disabled">
            <fa-icon [icon]="faTasks"></fa-icon>
        </a>
    </div> 
    <div class="list-group list-group-horizontal">
        <a class="list-group-item list-group-item-action disabled">01:20:00</a>
        <a class="list-group-item disabled">
            <fa-icon [icon]="faClock"></fa-icon>
        </a>
    </div> 
    <div class="list-group list-group-horizontal">
        <a class="list-group-item list-group-item-action disabled">Commencer</a>
        <a class="list-group-item active">
            <fa-icon [icon]="faChevronCircleRight"></fa-icon>
        </a>
    </div> 
   
</div>