.card,
.btn-plus {
  background-color: #283e53;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  color: white;
}
h6 {
  color: white;
  font-size: 14px;
  font-weight: 300;
}
.toggle-btn {
  position: absolute;
  right: 0;
}
button {
  background-color: #314a60;
  color: white;
  border-radius: 0px;
  align-items: center;
  margin: 0;
}

button:hover {
  text-decoration: none;
  color: white;
  border: none;
  background-color: #131e2765;
}
.btn-plus{
  padding: 0px 0px 0px 10px; 
  display: flex;
}
.progress-bar {
  background-color: #7252ed;
}
.progress {
  background-color: #213445;
  /* width: 100%; */
}
.progress-card {
  background-color: #314a60;
  color: white;
  padding: 5px;
  border-radius: 0px 2px 2px 0px;
}
