.container {
  padding-left: 50px;
}

.containerP {
    position: absolute;
    right: 0;
    padding-right: 50px;
}

@media (min-width: 576px) {
 
  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }