<app-sidebar></app-sidebar> 
<app-navbar [name]="navTab"></app-navbar>

<div class="container">
    <div class="row ml-1">
        <div class="list-group col-10">
            <div class="list-group list-group-horizontal">
                <a class="list-group-item disabled">
                    2019
                </a>
                <a class="list-group-item list-group-item-action disabled">FACULTE DE MEDECINE DE TUNIS</a>
            </div>
        </div>
        <div class="col-2">
            <a class="list-group-item list-group-item-action icon" (click)="openStat()">
                <div [ngSwitch]="showStat">
                    <i  *ngSwitchCase="false" class="fas fa-chevron-down"></i>
                    <i  *ngSwitchCase="true" class="fas fa-chevron-up"></i>
                </div>
                
            </a>
        </div>
    </div>

    <div class="row" *ngIf="showStat">
        <app-stat-component></app-stat-component>
    </div>

    <div class="row mt-3">
        <app-progress-component class="col-4"></app-progress-component>
        <app-second-card-component class="col-4"></app-second-card-component>
        <app-third-card-component class="col-4"></app-third-card-component>
    </div>

</div>