a:hover,
.active {
  text-decoration: none;
  background-color: #131e2765;
  color: white;
  border: none;
}
a {
  background-color: #283e53;
  color: white;
  cursor: pointer;
}
a.disabled {
  background-color: #314a60;
}
.list-group-item-action.disabled {
  background-color: #283e53;
  font-size: 14px;
  color: white;
  font-weight: 400;
}
.list-group-item-action.icon{
    text-align: center;
}

.container {
  padding-left: 50px;
  /* padding-right: 50px; */
}
